[alias]
    st = status -s
    b = branch -a
    pl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    co = checkout
    l = log --graph --oneline --decorate
    lns = log --name-status
    latest = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short) [%(committername)]'
    ds = diff --staged
    amend = commit --amend -C HEAD
    undo = reset --soft HEAD^
[push]
    default = current
[color]
    ui = true
[core]
    editor = vim --noplugin

