[alias]
    s = status
    ss = status -s
    si = status --ignored
    b = branch
    ba = branch -a
    pl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    co = checkout
    l = log --graph --oneline --decorate
    lns = log --name-status
    latest = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short) [%(committername)]'
    d = diff
    ds = diff --staged
    amend = commit --amend -C HEAD
    undo = reset --soft HEAD^
    dt = difftool
    ls = ls-files
    local = log --branches --not --remotes
    ahead = !git log HEAD..origin/$(git symbolic-ref HEAD | sed "s:refs/heads/::g")
[push]
    default = current
[color]
    ui = true
[core]
    editor = vim --noplugin
[merge]
   defaultToUpstream = true
   tool = vimdiff
   conflictstyle = diff3
[mergetool]
   prompt = false

